[submodule "svelteesp32"]
	path = svelteesp32
	url = https://github.com/mhaberler/svelteesp32.git
[submodule "lib/PsychicHttp"]
	path = lib/PsychicHttp
	url = https://github.com/mhaberler/PsychicHttp.git
